<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/quote.css' %}">

    <title>Quote</title>
</head>
<body>
    <h3> Send Your Request For Quote</h3>
    <form action="{% url 'getQuote' %}" method="POST">
        {% csrf_token %}
        <label class="col-2 col-s-2" for="Name">Name:</label>
        <input class="col-4 col-s-4" type="text" id="Name" name="Name" value="" ><br>     
        <label class="col-2 col-s-2" for="Phone">Phone Number:</label>
        <input class="col-4 col-s-4" type="tel" name="Phone" value="0" ><br> 
        <label class="col-2 col-s-2" for="Email">Email:</label>
        <input class="col-4 col-s-4" type="email" name="Email" value="" ><br> 
        <label class="col-2 col-s-2" for="Msg">Message:</label><br>
        <textarea  class="col-6 col-s-6" name="Msg"></textarea><br/>
    <!--    <input type="text" name="Msg" value="" ><br> -->  
      <div class="row">                                  
        <button class="col-1 col-s-1" type="submit"
                value="submit"
                name="submit">Submit</button>

        <button class="col-1 col-s-1" type="button"
                value="reset"
                onclick="location.href='{% url 'getQuote' %}'"
                name="reset">Reset</button>                  
        <button class="col-1 col-s-1" type="button"
                value="cancel"
                onclick="location.href='{% url 'index' %}'"
                name="cancel">Cancel</button> 
      </div>           
     </form>   

   
</body>
</html>