* {
    box-sizing: border-box;
  }
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }        
body {
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100%;
 }
label {
    display: inline-block;
    width: 150px;
    margin: 0px;
    text-align: left;
 }
input {
     margin: 0;
     width: 300px;
     text-align: left;
     background-color: azure;
 }
textarea {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 10px;
    width: 80%;
    height: 100%;
    text-align: left;
    background-color: azure;
 }
 h3 {
    text-align: center;
 }
button {
    margin-left: 10px ;
    width: 100px;
    height: 30px;
    background-color: rgb(212, 235, 244);
    border-radius: 5px;
} 